In [5]:
#importing nse library to get nse stock data

from nsepy import get_history
from datetime import date
import pandas as pd
import datetime

In [6]:
#reading the scrapped data 
money=pd.read_excel("E:\\allpraxis\\CAPP\\Scrapped Data1.xlsx")
money = money.dropna(subset = ['NSE CODE'])
money = money.reset_index(drop=True)

In [7]:
money.head()

,Sl no,Date,Stock_Name,New Stock Name,NSE DESC,NSE CODE,Action,Target,Recommender
0,8144,"sep 15, 2014",petronet lng,PETRONET LNG,PETRONET LNG,PETRONET,sell,185,kotak securities
1,8571,"aug 06, 2014",petronet lng,PETRONET LNG,PETRONET LNG,PETRONET,hold,170,emkay
2,9170,"jun 23, 2014",petronet lng,PETRONET LNG,PETRONET LNG,PETRONET,buy,195,icicidirect.com
3,9674,"may 14, 2014",petronet lng,PETRONET LNG,PETRONET LNG,PETRONET,hold,152,sushil finance
4,9762,"may 06, 2014",petronet lng,PETRONET LNG,PETRONET LNG,PETRONET,reduce,143,krchoksey

In [8]:
#FOR EACH STOCK:-
# extracting start date(recommendation date).
# extracting target.
# extracting nearest value acheived, argmin(daily_closing_price - target).
# extracting date when nearest value acheived.
# days to acheive target(start date - acheived date)
money.shape

(5202, 9)

In [9]:
#extracting rows for given stock code(can be automated using for loop for each stock code in the stock code column)
#display(money[money['NSE CODE'] == 'LICHSGFIN'])
#recommendation =  money[money['NSE CODE'] == 'CANBK'][:1]
recommendation=money[51:52]
display(recommendation)

,Sl no,Date,Stock_Name,New Stock Name,NSE DESC,NSE CODE,Action,Target,Recommender
51,7006,"jun 03, 2015",pfc,PFC,POWER FINANCE CORPORATION,PFC,buy,300,firstcall research

In [10]:
stock_code= recommendation['NSE CODE']
stock_code

51    PFC
Name: NSE CODE, dtype: object

In [11]:
#Extracting date from extracted rows:
start_date= recommendation['Date'].iloc[0]
#start_date = start_date.drop([0])
#d = start_date[1]
#d
start_date

'  jun 03, 2015 '

In [12]:
#to get history of stock we have to pass date in date(%Y,%m,%d) format, thus converting:
#date_object = datetime.strptime(d, '%m %d %Y') # getting error because of ',' in date forat
#print(date_object)

In [13]:
#removing comma from date format:
#money['Date'] = money['Date'].replace(',', '') #not working
#money['Date']
#money['Date'].str.replace(',', '') # working
start_date = start_date.replace(',', '') #worked
start_date

'  jun 03 2015 '

In [14]:
#now converting date column in get_history formatdate(2018,8,20): 
#money['Date'] = datetime.strptime(money['Date'], '%m,%d,%Y') #not working
start_date = pd.to_datetime(start_date)
# start_date = start_date.strftime('%Y,%m,%d') #converting in %Y,%m,%d format
display(start_date)
display(start_date)
display(start_date-pd.DateOffset(years=-1))

reco_past_date = start_date
reco_future_date = start_date-pd.DateOffset(years=-1)

Timestamp('2015-06-03 00:00:00')

Timestamp('2015-06-03 00:00:00')

Timestamp('2016-06-03 00:00:00')

In [15]:
#date column modified
#money1 = money
#money1.head()

In [16]:
#extracting target:
st_target= recommendation['Target'].iloc[0] #value for target for given stock code
st_target

300

In [17]:
#stock_history data:
#from nsepy import get_history
#from datetime import date
#import datetime
#s_hist=get_history(symbol=stock_code,start=reco_past_date.date(),end=reco_future_date.date()).iloc[:,4]
#display(s_hist.head())
# display(s_hist.tail())

#import matplotlib.pyplot as plt

#s_hist['High'].plot()

#plt.show()

## generalising get_hist function:

In [18]:
recom_date = start_date.date() #already cleaned before

# recom_date = '2016,08,29'
recom_date

datetime.date(2015, 6, 3)

In [19]:
year = recom_date.year
month = recom_date.month
day = recom_date.day
end_year = int(year)+1
print(year)
print(month)
print(day)
print(end_year)

2015
6
3
2016

In [20]:
#getting stok history data in required format:
#year = 2016
#day = 20
#month = 8
#end_year = year+1
from nsepy import get_history
from datetime import date
import datetime

s_hist=get_history(symbol=stock_code,start=date(year,month,day),end=date(end_year,month,day))
s_hist.head()

Exception in thread Thread-26:
Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\urls.py", line 32, in get_symbol_count
    return symbol_count[symbol]
  File "C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py", line 879, in __hash__
    ' hashed'.format(self.__class__.__name__))
TypeError: 'Series' objects are mutable, thus they cannot be hashed

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\commons.py", line 132, in run
    self.result = self._target(*self._args, **self._kwargs)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\history.py", line 135, in get_history
    return get_history_quanta(**kwargs)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\history.py", line 138, in get_history_quanta
    url, params, schema, headers, scaling = validate_params(**kwargs)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\history.py", line 240, in validate_params
    params['symbolCount'] = get_symbol_count(symbol)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\urls.py", line 35, in get_symbol_count
    symbol_count[symbol] = cnt
  File "C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py", line 879, in __hash__
    ' hashed'.format(self.__class__.__name__))
TypeError: 'Series' objects are mutable, thus they cannot be hashed

Exception in thread Thread-29:
Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\urls.py", line 32, in get_symbol_count
    return symbol_count[symbol]
  File "C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py", line 879, in __hash__
    ' hashed'.format(self.__class__.__name__))
TypeError: 'Series' objects are mutable, thus they cannot be hashed

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\commons.py", line 132, in run
    self.result = self._target(*self._args, **self._kwargs)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\history.py", line 135, in get_history
    return get_history_quanta(**kwargs)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\history.py", line 138, in get_history_quanta
    url, params, schema, headers, scaling = validate_params(**kwargs)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\history.py", line 240, in validate_params
    params['symbolCount'] = get_symbol_count(symbol)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\urls.py", line 35, in get_symbol_count
    symbol_count[symbol] = cnt
  File "C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py", line 879, in __hash__
    ' hashed'.format(self.__class__.__name__))
TypeError: 'Series' objects are mutable, thus they cannot be hashed

Exception in thread Thread-28:
Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\urls.py", line 32, in get_symbol_count
    return symbol_count[symbol]
  File "C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py", line 879, in __hash__
    ' hashed'.format(self.__class__.__name__))
TypeError: 'Series' objects are mutable, thus they cannot be hashed

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\commons.py", line 132, in run
    self.result = self._target(*self._args, **self._kwargs)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\history.py", line 135, in get_history
    return get_history_quanta(**kwargs)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\history.py", line 138, in get_history_quanta
    url, params, schema, headers, scaling = validate_params(**kwargs)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\history.py", line 240, in validate_params
    params['symbolCount'] = get_symbol_count(symbol)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\urls.py", line 35, in get_symbol_count
    symbol_count[symbol] = cnt
  File "C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py", line 879, in __hash__
    ' hashed'.format(self.__class__.__name__))
TypeError: 'Series' objects are mutable, thus they cannot be hashed

Exception in thread Thread-27:
Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\commons.py", line 132, in run
    self.result = self._target(*self._args, **self._kwargs)
  File "C:\Users\user\Anaconda3\lib\site-packages\nsepy\history.py", line 133, in get_history
    return pd.concat((t1.result, t2.result))
AttributeError: 'ThreadReturns' object has no attribute 'result'

AttributeError: 'ThreadReturns' object has no attribute 'result'

In [ ]:
#from nsepy import get_history
#from datetime import date
#import pandas as pd
#import datetime
#get_history(symbol="CIPLA",start=date(2016,8,20),end=date(2017,8,20))

# #Creating difference column:

In [21]:
s_hist.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2014-05-14,PETRONET,EQ,141.10,140.6,143.45,139.25,142.00,142.00,141.82,1064242,1.509301e+13,21980,692096,0.6503
2014-05-15,PETRONET,EQ,142.00,141.1,143.45,138.00,138.00,138.50,139.85,934640,1.307107e+13,21324,539215,0.5769
2014-05-16,PETRONET,EQ,138.50,140.0,143.75,136.05,140.50,140.55,140.66,2871045,4.038472e+13,27111,2092957,0.7290
2014-05-19,PETRONET,EQ,140.55,143.0,153.75,140.55,152.75,152.95,149.15,3238364,4.829894e+13,30923,1782072,0.5503
2014-05-20,PETRONET,EQ,152.95,155.0,159.70,150.55,151.75,151.40,154.78,2650087,4.101717e+13,13850,1717902,0.6482

In [22]:
# Credit: https://stackoverflow.com/a/43112103
# To get the closest value

closest_value = s_hist.iloc[(s_hist['High']-st_target).abs().argsort()[:1]]

# Trying to get the closest value as a number for comparion against target
#closest_value_price = pd.to_numeric(closest_value[-1]).tolist()[0]

(closest_value)

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-08,PETRONET,EQ,209.6,210.25,221.9,210.25,216.95,217.2,217.33,2594619,5.638767e+13,39938,1050833,0.405

In [23]:
closest_value_p=closest_value['High']
closest_value_p

Date
2015-01-08    221.9
Name: High, dtype: float64

In [24]:
(recommendation)

,Sl no,Date,Stock_Name,New Stock Name,NSE DESC,NSE CODE,Action,Target,Recommender
51,7006,"jun 03, 2015",pfc,PFC,POWER FINANCE CORPORATION,PFC,buy,300,firstcall research

In [25]:
merged_reco = pd.concat([recommendation.reset_index(drop=True), closest_value_p.reset_index(drop=True)], axis=1)

In [26]:
merged_reco['ticker_date'] = closest_value_p.index
display(merged_reco)

# This has the entire reco with the closest price achieved and the date the particular price was achieved!!!!!

,Sl no,Date,Stock_Name,New Stock Name,NSE DESC,NSE CODE,Action,Target,Recommender,High,ticker_date
0,7006,"jun 03, 2015",pfc,PFC,POWER FINANCE CORPORATION,PFC,buy,300,firstcall research,221.9,2015-01-08

In [27]:
merged_reco['Recommendation_Date'] = recom_date
display(merged_reco)

,Sl no,Date,Stock_Name,New Stock Name,NSE DESC,NSE CODE,Action,Target,Recommender,High,ticker_date,Recommendation_Date
0,7006,"jun 03, 2015",pfc,PFC,POWER FINANCE CORPORATION,PFC,buy,300,firstcall research,221.9,2015-01-08,2015-06-03

In [28]:
#merged_reco['Threshold_Target'] = merged_reco['Target']*0.9 #Threshold for the target

In [29]:
merged_reco['Target_Met'] = merged_reco['High'] >= merged_reco['Target']
display(merged_reco)

,Sl no,Date,Stock_Name,New Stock Name,NSE DESC,NSE CODE,Action,Target,Recommender,High,ticker_date,Recommendation_Date,Target_Met
0,7006,"jun 03, 2015",pfc,PFC,POWER FINANCE CORPORATION,PFC,buy,300,firstcall research,221.9,2015-01-08,2015-06-03,False

In [30]:
#merged_reco['Threshold_Target_Met'] = merged_reco['High'] >= merged_reco['Threshold_Target']
#display(merged_reco)

In [31]:
import numpy as np

merged_reco['Days_For_Target_Met'] = merged_reco['ticker_date']- merged_reco['Recommendation_Date']
merged_reco['Days_For_Target_Met'] = np.where(merged_reco['Target_Met'], merged_reco['Days_For_Target_Met'], np.nan)
display(merged_reco)

,Sl no,Date,Stock_Name,New Stock Name,NSE DESC,NSE CODE,Action,Target,Recommender,High,ticker_date,Recommendation_Date,Target_Met,Days_For_Target_Met
0,7006,"jun 03, 2015",pfc,PFC,POWER FINANCE CORPORATION,PFC,buy,300,firstcall research,221.9,2015-01-08,2015-06-03,False,NaT

In [32]:
#merged_reco['Days_For_Threshold_Target_Met'] = merged_reco['ticker_date']- merged_reco['Recommendation_Date']
#merged_reco['Days_For_Threshold_Target_Met'] = np.where(merged_reco['Threshold_Target_Met'], merged_reco['Days_For_Target_Met'], np.nan)
#display(merged_reco)

## Iterating to find the new columns to money control

In [33]:
#function to iterate overs rows:
#money.index #to get index of dataframe
#money.set_index("Stock_Code", inplace=True) #setting index for money data as stock_code column
#days = []
#date = []
#n_value = []

from nsepy import get_history
from datetime import date
import datetime
import numpy as np

df = pd.DataFrame()

for index, row in money.head(10).iterrows():
       # from nsepy import get_history
       # from datetime import date
       # import datetime
       # import numpy as np
        recommendation =  money[index:index+1] #subsetting each row
        print("The index is: ", index) #printing index
        stock_code= recommendation['NSE CODE'].iloc[0] #taking the value in nse code
        start_date= recommendation['Date'].iloc[0] #taking the date value out
        start_date = start_date.replace(',', '')  #modifying as jan 15,2016 to jan 15 2016
        start_date = pd.to_datetime(start_date)   #changing to 01/15/2016
        recom_date = start_date.date() 
        year = recom_date.year #pulling year out
        month = recom_date.month #pulling month out
        day = recom_date.day # pulling day out
        end_year = int(year)+1 # passing end year as start year +1
        st_target= recommendation['Target'].iloc[0] #value for target for given stock code
        s_hist=get_history(symbol=stock_code,start=date(year,month,day),end=date(end_year,month,day)) # getting out nse history for that
        #stock between the time period
        
        #taking the ones for which s_hist has data
        if len(s_hist.index)>0:
            closest_value = s_hist.iloc[(s_hist['High']-st_target).abs().argsort()[:1]]  #finding out the closest stock value in the 1year period.Extracting out that row
            closest_value_p= closest_value['High'] #subsetting only high value with index
            # Trying to get the closest value as a number for comparion against target
            #closest_value_price = pd.to_numeric(closest_value.iloc[-1]).tolist()[0]

            merged_reco = pd.concat([recommendation.reset_index(drop=True), closest_value_p.reset_index(drop=True)], axis=1) #concatinating two tables money dataframe and closest value
            merged_reco['ticker_date'] = np.where(closest_value['High'],closest_value.index,np.nan) #taking the index of closest value
            merged_reco['Recommendation_Date'] = recom_date

           # merged_reco['Threshold_Target'] = merged_reco['Target']*0.9 #Threshold for the target
            merged_reco['Target_Met'] = merged_reco['High'] >= merged_reco['Target']
           # merged_reco['Threshold_Target_Met'] = merged_reco['High'] >= merged_reco['Threshold_Target']
            merged_reco['Days_For_Target_Met'] = merged_reco['ticker_date']- merged_reco['Recommendation_Date']
            merged_reco['Days_For_Target_Met'] = np.where(merged_reco['Target_Met'], merged_reco['Days_For_Target_Met'], np.nan)

            #merged_reco['Days_For_Threshold_Target_Met'] = merged_reco['ticker_date']- merged_reco['Recommendation_Date']
            #merged_reco['Days_For_Threshold_Target_Met'] = np.where(merged_reco['Threshold_Target_Met'], merged_reco['Days_For_Target_Met'], np.nan)
            df = df.append(merged_reco)

The index is:  0
The index is:  1
The index is:  2
The index is:  3
The index is:  4
The index is:  5
The index is:  6
The index is:  7
The index is:  8
The index is:  9

In [34]:
money[50:50+1]

,Sl no,Date,Stock_Name,New Stock Name,NSE DESC,NSE CODE,Action,Target,Recommender
50,611,"jul 31, 2018",petronet lng ltd,PETRONET LNG LTD,PETRONET LNG,PETRONET,buy,267,kotak securities

In [35]:
df.head()

,Sl no,Date,Stock_Name,New Stock Name,NSE DESC,NSE CODE,Action,Target,Recommender,High,ticker_date,Recommendation_Date,Target_Met,Days_For_Target_Met
0,8144,"sep 15, 2014",petronet lng,PETRONET LNG,PETRONET LNG,PETRONET,sell,185,kotak securities,185.00,2015-03-04,2014-09-15,True,170 days
0,8571,"aug 06, 2014",petronet lng,PETRONET LNG,PETRONET LNG,PETRONET,hold,170,emkay,170.35,2014-08-07,2014-08-06,True,1 days
0,9170,"jun 23, 2014",petronet lng,PETRONET LNG,PETRONET LNG,PETRONET,buy,195,icicidirect.com,194.90,2014-09-11,2014-06-23,False,NaT
0,9674,"may 14, 2014",petronet lng,PETRONET LNG,PETRONET LNG,PETRONET,hold,152,sushil finance,152.00,2014-05-27,2014-05-14,True,13 days
0,9762,"may 06, 2014",petronet lng,PETRONET LNG,PETRONET LNG,PETRONET,reduce,143,krchoksey,143.45,2014-05-14,2014-05-06,True,8 days

In [5]:
df.to_csv('11942-end.csv')

In [36]:
import os
os.getcwd()

'C:\\Users\\user\\Desktop'